/* settings */
/* reset */
body {
  font-family: 'Courier new', monospace;
  font-size: 14px;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  color: #222;
}
.json {
  padding: 1em;
}
.node {
  left: 1.5em;
  marign-left: 1em;
  position: relative;
}
.node__key {
  font-weight: bold;
}
.node__value {
  color: #393;
}
.node__decorator,
.node__delimiter,
.node__separator {
  color: #7f7f7f;
}
