// settings
COLOR_BASE = #222
COLOR_STRING = #393
COLOR_PUNCTUATION = #7f7f7f

// reset
body
	font-family 'Courier new', monospace
	font-size 14px
	line-height 1.3em
	margin 0
	padding 0
	color COLOR_BASE

	&.before .source
		display block

	&.before .json
		display none

.source
	display none

// toggle button
.toolbar
	font-family "Myriad Set Pro", "Lucida Grande", Helvetica, Arial, Verdana, sans-serif
	font-size .8em
	position absolute
	top 2.3em
	right 1em
	-webkit-user-select none
	z-index 10

	&__item
		background-image linear-gradient(to bottom, #37aaea 0, #117ed2 100%)
		color #FFF
		box-shadow inset 0 1px 1px 0 #6fc5f5
		padding .5em 1.5em
		border-radius 4px
		line-height 1.5em
		cursor pointer
		-webkit-font-smoothing: subpixel-antialiased

			&:hover
				background-image linear-gradient(to bottom, #2488d4 0, #1c5bad 100%)
				box-shadow inset 0 1px 1px 0 #64bef1


// formatted json
.json
	padding 1em

.node
	left 1.5em
	marign-left 1em
	position relative

	&__key
		font-weight bold

	&__value
		color COLOR_STRING

	&__decorator
	&__delimiter
	&__separator
		color COLOR_PUNCTUATION
